#  Data Preprocessing & Feature Engineering - Customer Purchase Prediction

In [3]:
import pandas as pd
import  numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# Comment Code: 
# Windows or Linux: Ctrl + /
# Mac OS: Command + /

## Function

## Read Data

In [12]:
# submit data is used for evaluating prediction model performance
submit = pd.read_csv('submission.csv', encoding='utf-8')

In [17]:
submit.shape

(1585986, 2)

In [13]:
# train data is consist of customer demographics, order history, and goods details
train = pd.read_csv('train.csv', encoding='utf-8')

In [18]:
train.shape

(606226, 29)

In [19]:
submit.head(3)

   customer_id  result
0      1000000     0.0
1      1000014     0.0
2      1000034     0.0

## Data Preprocessing

In [28]:
train.isna().mean().sort_values(ascending = False)*100

is_member_actived         100.000000
member_status             100.000000
customer_gender           100.000000
customer_city               0.065157
customer_province           0.064497
goods_price                 0.019795
goods_delist_time           0.000165
is_customer_rate            0.000165
order_detail_status         0.000165
order_detail_goods_num      0.000165
order_detail_amount         0.000165
order_detail_payment        0.000165
goods_list_time             0.000165
order_detail_discount       0.000165
member_id                   0.000165
customer_id                 0.000165
goods_id                    0.000165
goods_class_id              0.000165
goods_status                0.000165
goods_has_discount          0.000165
order_count                 0.000000
order_status                0.000000
order_pay_time              0.000000
order_total_discount        0.000000
order_total_payment         0.000000
order_amount                0.000000
order_total_num             0.000000
order_id                    0.000000
order_detail_id             0.000000
dtype: float64

In [29]:
drop_cols = ['is_member_actived', 'member_status', 'customer_gender']
train.drop(drop_cols, axis = 1, inplace =  True)

In [30]:
train.shape

(606226, 26)

In [31]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 606226 entries, 0 to 606225
Data columns (total 26 columns):
order_detail_id           606226 non-null int64
order_id                  606226 non-null int64
order_total_num           606226 non-null float64
order_amount              606226 non-null float64
order_total_payment       606226 non-null float64
order_total_discount      606226 non-null float64
order_pay_time            606226 non-null object
order_status              606226 non-null int64
order_count               606226 non-null float64
is_customer_rate          606225 non-null float64
order_detail_status       606225 non-null float64
order_detail_goods_num    606225 non-null float64
order_detail_amount       606225 non-null float64
order_detail_payment      606225 non-null float64
order_detail_discount     606225 non-null float64
customer_province         605835 non-null object
customer_city             605831 non-null object
member_id                 606225 non-null float64
customer_id               606225 non-null float64
goods_id                  606225 non-null float64
goods_class_id            606225 non-null float64
goods_price               606106 non-null float64
goods_status              606225 non-null float64
goods_has_discount        606225 non-null float64
goods_list_time           606225 non-null object
goods_delist_time         606225 non-null object
dtypes: float64(18), int64(3), object(5)
memory usage: 120.3+ MB

In [32]:
# convert datetime columns
time_cols  = ['order_pay_time', 'goods_list_time', 'goods_delist_time']
for i in time_cols:
    train[i] = pd.to_datetime(train[i])

In [33]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 606226 entries, 0 to 606225
Data columns (total 26 columns):
order_detail_id           606226 non-null int64
order_id                  606226 non-null int64
order_total_num           606226 non-null float64
order_amount              606226 non-null float64
order_total_payment       606226 non-null float64
order_total_discount      606226 non-null float64
order_pay_time            606226 non-null datetime64[ns]
order_status              606226 non-null int64
order_count               606226 non-null float64
is_customer_rate          606225 non-null float64
order_detail_status       606225 non-null float64
order_detail_goods_num    606225 non-null float64
order_detail_amount       606225 non-null float64
order_detail_payment      606225 non-null float64
order_detail_discount     606225 non-null float64
customer_province         605835 non-null object
customer_city             605831 non-null object
member_id                 606225 non-null float64
customer_id               606225 non-null float64
goods_id                  606225 non-null float64
goods_class_id            606225 non-null float64
goods_price               606106 non-null float64
goods_status              606225 non-null float64
goods_has_discount        606225 non-null float64
goods_list_time           606225 non-null datetime64[ns]
goods_delist_time         606225 non-null datetime64[ns]
dtypes: datetime64[ns](3), float64(18), int64(3), object(2)
memory usage: 120.3+ MB

In [34]:
train.head()

,order_detail_id,order_id,order_total_num,order_amount,order_total_payment,order_total_discount,order_pay_time,order_status,order_count,is_customer_rate,...,customer_city,member_id,customer_id,goods_id,goods_class_id,goods_price,goods_status,goods_has_discount,goods_list_time,goods_delist_time
0,1000000,1000000,1.0,239.9,96.9,0.0,2012-11-01 00:10:56,6,1.0,0.0,...,北京市,0.0,1000000.0,998.0,998.0,54.909289,1.0,0.0,2014-10-25 11:08:07,2014-11-01 11:08:07
1,1001530,1001327,2.0,288.0,96.9,0.0,2013-08-31 23:14:42,6,2.0,0.0,...,鄂尔多斯市,0.0,1001324.0,1953.0,1953.0,45.961352,0.0,1.0,2013-08-28 17:27:50,2013-09-01 00:38:17
2,1001531,1001327,2.0,288.0,96.9,0.0,2013-08-31 23:14:42,6,2.0,0.0,...,鄂尔多斯市,0.0,1001324.0,1083.0,1083.0,53.035439,1.0,0.0,2014-10-29 18:21:05,2014-11-05 18:21:05
3,1001532,1001328,3.0,180.0,89.7,0.0,2013-08-31 22:06:35,6,1.0,0.0,...,杭州市,0.0,1001325.0,1013.0,1013.0,46.046917,1.0,1.0,2014-10-25 11:00:00,2014-11-01 11:00:00
4,1001533,1001329,1.0,159.9,65.9,0.0,2013-08-31 21:33:36,6,1.0,0.0,...,北京市,0.0,1001326.0,1628.0,1628.0,50.722161,1.0,0.0,2014-10-23 15:35:33,2014-10-30 15:35:33

In [40]:
# whether customer gave review or not
train.is_customer_rate.value_counts(dropna = False)

0.0    587051
1.0     19174
NaN         1
Name: is_customer_rate, dtype: int64

In [39]:
train.nunique().sort_values()

member_id                      1
goods_has_discount             2
is_customer_rate               2
goods_status                   3
order_status                   5
order_detail_status            5
order_count                   16
customer_province             32
order_detail_goods_num       145
order_total_num              148
customer_city                370
goods_delist_time            791
goods_list_time              825
goods_class_id               928
goods_id                     928
order_detail_amount         1556
order_detail_discount       2671
order_amount                4251
order_total_discount        5001
order_detail_payment       13098
order_total_payment        18774
order_pay_time            426038
customer_id               486869
order_id                  516865
goods_price               606106
order_detail_id           606226
dtype: int64

In [41]:
train.shape # no duplicates

(606226, 26)

In [42]:
train.drop('member_id', axis = 1, inplace = True)

In [43]:
train.shape

(606226, 25)

In [ ]:
train1 = train.dropna()

In [49]:
train.isna().sum().sort_values(ascending = False)

customer_city             395
customer_province         391
goods_price               120
goods_delist_time           1
order_detail_discount       1
is_customer_rate            1
order_detail_status         1
order_detail_goods_num      1
goods_list_time             1
order_detail_payment        1
order_detail_amount         1
customer_id                 1
goods_id                    1
goods_class_id              1
goods_status                1
goods_has_discount          1
order_count                 0
order_status                0
order_pay_time              0
order_total_discount        0
order_total_payment         0
order_amount                0
order_total_num             0
order_id                    0
order_detail_id             0
dtype: int64

In [45]:
train.customer_province.unique()

array(['北京', '内蒙古自治区', '浙江省', '甘肃省', '江苏省', '辽宁省', '河北省', '西藏自治区', '吉林省',
       '江西省', '湖北省', '上海', '广东省', '河南省', '福建省', '广西壮族自治区', '云南省', '湖南省',
       '天津', '山东省', '新疆维吾尔自治区', '重庆', '安徽省', '四川省', '宁夏回族自治区', '陕西省',
       '黑龙江省', '山西省', '贵州省', '海南省', '青海省', nan, '台湾'], dtype=object)

In [51]:
train.drop('customer_city', axis = 1, inplace = True)

In [52]:
train.shape

(606226, 24)

In [55]:
train = train.dropna()
train.shape

(605765, 24)

In [58]:
train.to_pickle('processed_train.csv')

## Feature Engineering

In [61]:
df = pd.read_pickle('processed_train.csv')

In [63]:
df.head()

,order_detail_id,order_id,order_total_num,order_amount,order_total_payment,order_total_discount,order_pay_time,order_status,order_count,is_customer_rate,...,order_detail_discount,customer_province,customer_id,goods_id,goods_class_id,goods_price,goods_status,goods_has_discount,goods_list_time,goods_delist_time
0,1000000,1000000,1.0,239.9,96.9,0.0,2012-11-01 00:10:56,6,1.0,0.0,...,143.0,北京,1000000.0,998.0,998.0,54.909289,1.0,0.0,2014-10-25 11:08:07,2014-11-01 11:08:07
1,1001530,1001327,2.0,288.0,96.9,0.0,2013-08-31 23:14:42,6,2.0,0.0,...,99.0,内蒙古自治区,1001324.0,1953.0,1953.0,45.961352,0.0,1.0,2013-08-28 17:27:50,2013-09-01 00:38:17
2,1001531,1001327,2.0,288.0,96.9,0.0,2013-08-31 23:14:42,6,2.0,0.0,...,92.1,内蒙古自治区,1001324.0,1083.0,1083.0,53.035439,1.0,0.0,2014-10-29 18:21:05,2014-11-05 18:21:05
3,1001532,1001328,3.0,180.0,89.7,0.0,2013-08-31 22:06:35,6,1.0,0.0,...,90.3,浙江省,1001325.0,1013.0,1013.0,46.046917,1.0,1.0,2014-10-25 11:00:00,2014-11-01 11:00:00
4,1001533,1001329,1.0,159.9,65.9,0.0,2013-08-31 21:33:36,6,1.0,0.0,...,94.0,北京,1001326.0,1628.0,1628.0,50.722161,1.0,0.0,2014-10-23 15:35:33,2014-10-30 15:35:33